<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROJECT_UUID</key>
	<string>174deb86-6371-4b53-a05a-64271df51eab</string>
	<key>PROJECT_CLIENT_KEY</key>
	<string>c9QGqJAAL6KUmJZSvyq87CZLJhcdkwZFGL5a0tpb</string>
	<key>PROJECT_APP_UUID</key>
	<string>4989f39a-17f0-42cb-9c30-c4fc03e48b50</string>
</dict>
</plist>